/* COLOR VARIABLES */
$background: mix($accent, #1D1E28, 2%);
$color: rgba(255, 255, 255, 1);
$border-color: rgba(255, 255, 255, .1);

$background-style: radial-gradient(circle at 5%, mix(rgb(255, 255, 255), rgb(142, 140, 138)) 35px, transparent 40px),
radial-gradient(circle at 95%, #151515, #333 50%, mix(rgb(222, 192, 59), red) 65%, #151515 66%);


/* MEDIA QUERIES */
$phone: "max-width: 684px";
$tablet: "max-width: 900px";

/* variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}
