<footer class="footer">
  <div class="footer__inner">
    <div class="copyright">
      <span><a href="https://github.com/dipankardas011"><img src="/img/github.png"></a></span>
      <span><a href="https://gitlab.com/dipankardas011"><img src="/img/gitlab.png"></a></span>
      <span><a href="https://twitter.com/DipankarDas011"><img src="/img/twitter.png"></a></span>
      <span><a href="https://www.linkedin.com/in/dipankar-das-1324b6206/"><img src="/img/linkedin.png"></a></span>
    </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
