<footer class="footer">
  <div class="footer__inner">
    <div class="copyright">
      <span style="padding: 1rem;"><a href="https://github.com/dipankardas011"><i class="fa-brands fa-github fa-2xl"></i> </a></span>
      <span style="padding: 1rem;"><a href="https://gitlab.com/dipankardas011"><i class="fa-brands fa-gitlab fa-2xl"></i></a></span>
      <span style="padding: 1rem;"><a href="https://twitter.com/DipankarDas011"><i class="fa-brands fa-square-x-twitter fa-2xl"></i></a></span>
      <span style="padding: 1rem;"><a href="https://www.linkedin.com/in/dipankar-das-1324b6206/"><i class="fa-brands fa-linkedin fa-2xl"></i></a></span>
    </div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}

{{ $bundle := slice $menu $prism | resources.Concat "bundle.js" | resources.Minify }}

<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

<!-- Extended footer section-->
{{ partial "extended_footer.html" . }}
