---
interface Props {
  variant?: 'purple' | 'yellow';
  position?: 'top-left' | 'top-right' | 'bottom-left' | 'bottom-right';
  className?: string;
}

const { variant = 'purple', position = 'top-left', className = '' } = Astro.props;

const bgColor = variant === 'purple' ? 'bg-[#3A437E]' : 'bg-[#FFBF4B]';

const positionClasses = {
  'top-left': 'top-0 left-0 -translate-x-1/2 -translate-y-1/2',
  'top-right': 'top-0 right-0 translate-x-1/2 -translate-y-1/2',
  'bottom-left': 'bottom-0 left-0 -translate-x-1/2 translate-y-1/2',
  'bottom-right': 'bottom-0 right-0 translate-x-1/2 translate-y-1/2',
};
---

<div
  class={`absolute w-[244px] h-[244px] lg:w-[296px] lg:h-[296px] ${bgColor} opacity-50 blur-[100px] lg:blur-[120px] max-md:hidden pointer-events-none ${positionClasses[position]} ${className}`}
  aria-hidden="true"
>
</div>
